@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffffff;
  --secondary: rgb(252 165 165);
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--primary);
}

*::-webkit-scrollbar-track {
  background-color: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
